body{
    font-family: 'Roboto', 'Open Sans', sans-serif;   
}

header{
	background-color: #01a2a6;
}

.container{
    margin: 0 auto;
    max-width: 940px;
    padding: 30px 10px 30px 10px;
    position: relative;
    display: flex;
    flex-direction: row;    
}

nav{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

nav img{
    text-align: center;
}

nav a{
    vertical-align: middle;
    flex-grow: 1
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

nav li {
    color: #ffffff;
    font-size: 12px;
    display: inline;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
}

 nav li a{
 	text-decoration: none;
 	color: #ffffff;
}

 .slider{
    width: 100%;
    height: 500px;
    background: url(../img/bg2.jpg) no-repeat center center;
    background-size: cover;
}

.textoslider{
    width: 35%;
    margin-top: 250px;
    margin-right: 30px;
    float: right;
    text-align: right;
}

.textoslider h3{
    font-size: 40px;
    margin: 0 auto;
    color: #ffffff;
}

.textoslider p{
    color: #ffffff;
}

.aptitudes{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 80px;
    padding: 50px 100px 20px 100px;
    text-align: center;
    position: relative;  
}

.aptitud{
    margin: 10px auto;
	padding-top: 15px;
    flex-grow: 1;
}

.aptitud h4{
	color: #000000;
}

.aptitud p{
    font-size: 12px;
}

.aptitud img{
    height: 50px;
    text-align: center;
}

.aptitud:hover{
    transition: 1s ease-in-out;
    transform: scale(1.25);
}

.about{
    width: 70%;
    background-color: #01a2a6;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;  
    background-size: 29% auto; /*El tamaño de la imagen de fondo con respecto al total del contenedor*/
    background-attachment: fixed; /*Nuestra propiedad mágica*/
    background-repeat: no-repeat; /*Con esto nos aseguramos que nuestra imagen sólo aparezca una vez en el contenedor*/
}


.titulos{
    width: 30%;
    flex-grow: 1;
    padding: 0 25px 0 40px;
    
}

.smallscreen {
display: none;
}

.img_02 {
background-color: #01a2a6;
background-image: url("../img/me.png");/*La imagen coincide siempre con la que se enlaza en el contenedor con clase smallscreen de esta sección*/
}


.right {
padding: 1.618em 0 3.236em 30%;
background-position: 30px 50%;
}


.titulos h2{
    font-size: 50px;
    color: #ffffff;
}

.titulosneg{
    text-align: center;
    color: #333333;
}

.titulosneg h2{
    font-size: 50px;
    color: #01a2a6;
}

.trabajos{
    background-color: #000000;
}

.galeria{
    padding: 120px 5px 80px 5px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 5%;
}

.titulosgaleria{
    text-align: center;
    font-size: 12px;
    float:center;
    color: #ffffff;
    text-transform: uppercase;
}

.galeria div{
    flex-grow: 1;
    width: 300px;
    padding: 15px; 
    -webkit-filter: brightness(0.25); filter: brightness(0.25);
}

.galeria div:hover{
    -webkit-transition : -webkit-filter 800ms linear;
    -webkit-filter:none;
    filter: none;
}

.galeria div img{
    width: 100%;
    height: auto;
}

.mp{
    width: 50%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;  
    background-size: 49% auto; /*El tamaño de la imagen de fondo con respecto al total del contenedor*/
    background-attachment: fixed; /*Nuestra propiedad mágica*/
    background-repeat: no-repeat; /*Con esto nos aseguramos que nuestra imagen sólo aparezca una vez en el contenedor*/
}

.titulosblancos{
    padding: 50px;
    flex-grow: 1;
    color: #ffffff;
}


.left {
padding: 1.618em 50% 3.236em 0;
background-position: 100% 50%;
}

.torrentel {
background-color: #000000;
background-image: url("../img/torrentel.png");/*La imagen coincide siempre con la que se enlaza en el contenedor con clase smallscreen de esta sección*/
}

.contacto{
    padding: 20px;
    margin-bottom: 30px;
}

.social{
    width: 20%;
    padding: 5px; 
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.social .network{
    padding: 5px;
    list-style: none;
    flex-grow: 1;
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

.social .network img{
    width: 80%;
    flex-grow: 1;
}

.network:hover{
    -webkit-transition : -webkit-filter 500ms linear;
    -webkit-filter:none;
    filter: none;
}

.linkscontacto{
    text-align: center;
    padding-bottom: 10px;
    vertical-align: middle;
}

.linkscontacto a{
    text-align: center;
    text-decoration: none;
    color: #01a2a6;
   
}
.linkscontacto a img{
    vertical-align: middle;
    padding: 5px;
}



footer{
	background-color: #01a2a6;
	clear: both;
    display: flex;
    flex-direction: row;
}

.textofooter{
    flex-grow: 1;
    color: #ffffff;
}

footer p{
    margin-left: 20px;  
}

footer nav{
    display: inline;
    text-align: right;
    flex-grow: 1;
    margin-right: 20px;
}
footer nav li {
    color: #c2c5cc;
    font-size: 12px;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

 footer nav a{
    color: #ffffff;
 }

/*Comienza mediaquery para iphone*/

@media screen and (max-width: 400px) {
    
    .smallscreen {
      display: block;
    }
    
    .right {
    padding: 1.618em 3.236em;
    background-image: none;
    }
    
    .left {
    padding: 1.618em 3.236em;
    background-image: none;
    }
    
    .about{
        width: 74%;
    }
    
    .mp{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    .torrentel{
        text-align: center;
    }
    
    
    nav{
        margin: 0 auto;
    }
    nav ul{
        margin: 0px;
        padding-right: 0px;
        padding-left: 0px;
        flex-direction: row-reverse;
    }
    
    ul li{
        padding: 5px;
    }
    nav ul li{
        display: inline-block;
    
    }

    .slider{
        width: 100%;
        height: 200px;
    }

    .textoslider{
        margin-top:50px;
        margin-left: 20px;
        width:50%;
    }
    .textoslider h3{
        font-size: 18px; 
    }
    .textoslider p{
        font-size: 12px;
    }
    .titulos{
        text-align: center;
        padding: 0;
    }
    
    .titulos h2{
        font-size: 40px;
        text-align: center;
    }

    .imagenme{
        display: none;
    }
    
    .aptitudes{
        padding: 50px;
    }
    
    .social{
        width: 50%;
    }
    
    footer p {
        width: 100%;
        font-size: 12px;
    }
   .logo{
        order:1;  
        padding: 0;
        text-align: left;
        margin-left: -20px;
    }

}

/*Comienza MediaQuery para tablets*/

@media screen and (min-width: 401px) and (max-width: 620px) {
    slider{
        width: 100%;
        height: 200px;
    }

    .textoslider{
        margin-top:50px;
        margin-left: 20px;
        width:50%;
    }
    .textoslider h3{
        font-size: 18px; 
    }
    .textoslider p{
        font-size: 12px;
    }
    
    .titulos h2{
        font-size: 40px
    }

    .imagenme{
        display: none;
    }
    .social{
        width: 40%;
    }
}